body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    backdrop-filter: blur(10px);

}

html,
body {
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.upper-container {
    width: 80%;
    height: 80%;
    padding-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.record-container {
    width: 50%;
    height: 100%;
    margin-top: 5%;


    float: left;

}

.record-bg {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#record-img {
    background-size: 100% 100%;
    background-image: url('./../img/record0.jpg');
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

.introduction-container {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.text-container {
    width: 80%;
    margin-left: 20%;
}

.music-title {
    color: white;
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
}

.author-container {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.bottom-container {
    height: 20%;
    width: 100%;
    padding: 0 47px;

}



.progress {
    width: 94%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 20px;
}

.progress-play {
    width: 0%;
    height: 3px;
    background-color: green;

}

.controls {
    display: flex;
    justify-content: space-between;
    width: 94%;
    align-items: center;
}

.timer-container {
    color: white;
    font-size: 1.3rem;
}

.playMode {
    background-image: url(../img/mode1.png);
    background-size: 100% 100%;

}

.center-icon:hover {
    opacity: 0.7;
}

.center-icon:active {
    opacity: 0.6;
}

.center-icon {
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 8px;
}

.beforeMusic {
    background-image: url(../img/上一首.png);
    background-size: 100% 100%;
}

.playPause {
    width: 50px;
    height: 50px;
    /* background-image: url(../img/继续播放.png);
    background-size: 100% 100%; */
}

.icon-play {

    background-image: url(../img/继续播放.png);
    background-size: 100% 100%;
}

.icon-pause {
    background-image: url(../img/暂停.png);
    background-size: 100% 100%;
}

.nextMusic {
    background-image: url(../img/下一首.png);
    background-size: 100% 100%;
}

.volume {
    background-image: url(../img/音量.png);
    background-size: 100% 100%;
}

.center-container {
    display: flex;
    align-items: center;
}

.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#MV {
    background-image: url(../img/MV.png);
    background-size: 100% 100%;

}

#speed {
    color: white;
    font-size: 1.3rem;
}

#list {
    background-image: url(../img/列表.png);
    background-size: 100% 100%;
}

.rotate-play {
    animation: rotateAni 10s infinite linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes rotateAni {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.close-container {
    display: none;
    width: 75%;
    height: 100%;
    /* background-color: pink; */
    position: fixed;
    top: 0;
    left: 0;
}

.list-container {
    display: none;
    width: 30%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 30px;

}

.musicListTitle {
    font-size: 50px;
}

.musicLists {
    font-size: 30px;
}
.musicLists div{
    width: 100%;
    height: 43px;
    margin: 11px 0;
    /* background-color: blue; */
}

.musicLists div:hover{
    background-color: rgba(243, 243, 243, 0.464);
}
/* 动画控制 */
.list-show{
    animation: showAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}
.list-hide{
    animation: hideAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes showAni {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes hideAni {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}